.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* 1. стили Header */
.header {
    background-color: #f2f2f2;
    height: 100vh;
    max-height: 600px;
    min-height: 756px;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.logo_place_header {
    background-image: url(./images/logo_place_header.svg);
    width: 228px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    margin: 30px 0 0 64px;
}

.header__title {
    display: flex;
    align-self: center;
    width: 730px;
    margin-left: 64px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    left: 64px;
    bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.header__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
}

.header__link::after {
    content: "  \2192";
    color: #2f80ed;
}

.header__main-illustration {
    background-image: url(./images/two_again.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 765px;
    height: 608px;
    bottom:0%;
    right: 0%;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    right: 0%;
    top: 64px;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
}

/* 2. стили Description */
.description {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 0;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.two-columns__brief {
    width: 175px;
    display: flex;
}

.two-columns__title {
    margin: 0;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.two-columns__paragraph-indent {
    padding: 30px 0 30px 0;
    line-height: 34px;
    font-size: 24px;
    margin: 0;
}

.two-columns__accent {
    font-weight: 600;
}

/* 3. стили Digits */
.digits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0;
}

.section-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.15;
    font-weight: 600;
    font-size: 60px;
    margin: 0 0 20px 0;
}

.section-subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__cell {
    width: 250px;
    margin: 60px 0 0 0;
}

.table__heading {
    line-height: 1.15;
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

.table__text {
    margin: 20px 0 0 0;
    line-height: 1.2;
    font-weight: normal;
    font-size: 18px;
}

/* 4. стили Feynman */
.feynman {
    background-color: #f2f2f2;
    height: 890px;
    max-height: 600px;
    min-height: 756px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0;
}

.feynman__illustration {
    background-image: url(./images/feynman.png);
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.feynman__title {
    display: flex;
    text-align: center;
    width: 648px;
    margin: 100px 0 0 0;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    z-index: 1;
}

.feynman__subtitle {
    display: flex;
    text-align: center;
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    color: #2f80ed;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    font-weight: normal;
}

.feynman__link::after {
    content: "  \2192";
}

/* 5. стили Kaufman */
.kaufman {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 90px 0 90px 0;
    background-color: #1f1f1f;
}

.section-title_theme_dark, .section-subtitle_theme_dark, .table__text_theme_dark, .table__heading_theme_dark {
    color: #ffffff;
    z-index: 1;
}

.table__cell_theme_dark {
    width: 200px;
    margin: 80px 0 0 0;
    z-index: 1;
}

.kaufman__triangle {
    background-image: url(./images/kaufman-triangle.svg);
    position: absolute;
    width: 877px;
    height: 877px;
    background-size: cover;
    right: -210px;
    top: 0;
}

/* 6. стили Footer */
.footer {
    min-height: 350px;
    display: flex;
    justify-content: center;
    background-color: #1f1f1f;
}

.footer__columns {
    margin: 60px 0 40px 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer__column_content_copyright {
    display: flex;
    flex-basis: 711px;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer {
    background-image: url(./images/logo_place_footer.svg);
    align-items: flex-start;
    width: 228px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.footer__autor {
    margin: 18px 0 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}

.footer__column-heading {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    margin: 20px 0 16px 0;
}

.footer__link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}